<nav id="homeNavbar" class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/"><img id="brandImage" src="https://res.cloudinary.com/dvgdvtqug/image/upload/v1621456937/Devon%20Pianos/Logo_no_white_kx4prc.png" alt="">Devon Pianos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav navbar-nav w-100 justify-content-around">
          <!-- Not sure why this w-100 works -->
        <a class="nav-item nav-link" href="/pianos">Our Pianos<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/about">About Us</a>
        <a class="nav-item nav-link" href="#">Purchasing Advice</a>
        <a class="nav-item nav-link" href="#">For Piano Lovers</a>
        <a class="nav-item nav-link" href="#">Useful Links</a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </div>
    </div>
    </div>
</nav>