<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 

<body id="aboutBody">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <div class="mt-5 container d-flex align-items-center justify-content-center">
    <div id="aboutCard" class="col-10 mb-5 card shadow rounded d-flex align-items-center w-75">
        <h1 class="mt-4" id="aboutHeading">About Us</h1>
        <!-- <img id="paulPhoto" class="card-image mt-4" src="https://res.cloudinary.com/dvgdvtqug/image/upload/v1623699857/Devon%20Pianos/45d1ea9e-3c16-44d4-9d5e-d2638b1b87bc_slgvnh.jpg" alt="">
        <img id="paulPhotoAlt" class="card-image mt-4" src="https://res.cloudinary.com/dvgdvtqug/image/upload/v1623700445/Devon%20Pianos/Paul_Photo_Edited_buhdee.png" alt=""> -->

        <!-- <div id="aboutImage" class="card-img-top">
          <img id="paulPhoto" src="https://res.cloudinary.com/dvgdvtqug/image/upload/v1623700445/Devon%20Pianos/Paul_Photo_Edited_buhdee.png" alt="">
          <p id="paulText">
            Hello,<br>My name is Paul Clarke
          </p>
        </div>
        <div class="card w-75">
          <div id="aboutImage" class="card-img-top">
            <img id="paulPhoto" src="https://res.cloudinary.com/dvgdvtqug/image/upload/v1623700445/Devon%20Pianos/Paul_Photo_Edited_buhdee.png" alt="">
            <p id="paulText">
              Hello,<br>My name is Paul Clarke
            </p>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div> -->

      <div style="  width: 50%;
                    height: fit-content;
                    background-image: linear-gradient(180deg, rgba(0,0,0,0) 49%, rgba(0,0,0,0.9060399159663865) 85%),
                        url('https://res.cloudinary.com/dvgdvtqug/image/upload/v1623700445/Devon%20Pianos/Paul_Photo_Edited_buhdee.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin-bottom: 1.5rem;
                    margin-top: 1rem;
                    "
                    >
                    <h2 style=" padding-top: 63%;
                                padding-left: 5%;
                                color: white;
                                font-family: 'Poppins', sans-serif;
                                font-weight: 200;
                                font-size: 2.2rem;
                                letter-spacing: 0.2rem;
                    ">
                      Hello,
                    </h2>
                    <p style=" padding-left: 5%;
                               color: white;
                              font-family: 'Poppins', sans-serif;
                               font-weight: 200;
                               font-size: 1.5rem;
                               margin-bottom: 0.5rem;
                               letter-spacing: 0.2rem;
                     ">
                      My name is Paul Clarke
                    </p>
      </div>
      <div class="container" style="
        color: rgb(0, 0, 0);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
      ">
        <p>
          I am a qualified piano tuner/technician.  I completed a 3-year training course in the piano technology department of the Royal National College for the Blind (RNCB) in Hereford.  The RNCB was the top training establishment in the UK for blind and visually impaired trainees, providing tuition in Tuning, Repairs and Restoration.
        </p>
        <p>
          I work on all types of pianos, if your piano requires tuning or is in need of repair/servicing please contact me.
        </p>
        <p>
          I have been vetted by the Criminal Records Bureau (CRB) and approved to work in situations with vulnerable adults or children.
        </p>
      </div>

    </div>


</div>

<!-- <div id="aboutImage">
  <img id="paulPhoto" src="https://res.cloudinary.com/dvgdvtqug/image/upload/v1623700445/Devon%20Pianos/Paul_Photo_Edited_buhdee.png" alt="">
  <p id="paulText">
    Hello,<br>My name is Paul Clarke
  </p>
</div> -->


<%- include('./partials/footer') %> 