<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 
<body id="homeBody">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div class="container h-100 d-flex align-items-center justify-content-center">
        <div id="homeCard" class="col-7 card shadow rounded d-flex align-items-center">
            <img id="homeCardImg" class="card-image mt-4" src="https://res.cloudinary.com/dvgdvtqug/image/upload/v1621457699/Devon%20Pianos/Devon_Pianos_no_white_xz8nwd.png" alt="">
            <p id="intro" class="p-3">
                Welcome to Devon Pianos.  Below is a link to our piano gallery where you can see our second-hand pianos which we have re-conditioned and are suitable for all grades of pianist. The pianos can be viewed at our Marsh Barton workshop in Exeter.
            </p>
            <a href="/pianos" id="coolButton" class="btn btn-lg w-50 mb-4">Piano Gallery</a>
        </div>
    </div>

<%- include('./partials/footer') %> 